*{
    
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 line-height: 1.5em;
}
img{
    max-width: 100%;
}
header{
    background: blueviolet;
    padding: 20px;
    
}
header img{
width: 250px;
margin: 0 auto;
display: block;
}
#main_menu{
    list-style: none;
    text-align: center;
    margin-top: 10px;
}
#main_menu li{
    display: inline-block;
    margin: 0 10px;
}
#main_menu li a{
    background: red;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
}
section{
    background: burlywood;
    display: flex;
}
div{
    padding: 20px;
    
    width: 60%;
}
aside{
 padding: 20px;
 width: 40%;
}
aside ul{
    margin-left: 20px;
    margin-top: 10px;
}
footer{
    background: gainsboro;
    padding: 20px;
    text-align: center;
}
